/*--------------------------------------------------------------
# Esilos Generales

Author     : Rafael Arias
/*--------------------------------------------------------------*/
body {
  font-family: "Open Sans", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  color: #444;
  background-color: #FFF;
}

a {
  color: #ea4026;
}

a:hover {
  color: #a52d1b;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, .font-primary {
  font-family: "Raleway", sans-serif;
}

h1 {
    font-size: 20px;
    font-style: italic;
    padding: 0;
    margin: 0 0 20px 0;
}

.manita {
    cursor: pointer;
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #ea4026;
  border-top-color: #fff;
  border-bottom-color: #fff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate-preloader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/*--------------------------------------------------------------
# Main
--------------------------------------------------------------*/
.app-content {
  min-height: calc(100vh - 60px);
  margin-top: 65px;
  padding: 30px;
  background-color: #E5E5E5;
  -webkit-transition: margin-left 0.3s ease;
  -o-transition: margin-left 0.3s ease;
  transition: margin-left 0.3s ease;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
    transition: all 0.5s;
    z-index: 997;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    background: rgba(30, 30, 30, 0.8);
    color: #fff;
}

.navbar-dark {
    background: rgba(68, 136, 147, 0.1) !important;
}

.navbar-brand img {
    max-height: 40px;
}

.navbar-brand span {
    font-size: 15px;
    color: #fff;
}

/*--------------------------------------------------------------
# Ventana modal
--------------------------------------------------------------*/
.headerRegister, .header-primary {
    background-color: #009688;
    color: #fff;
}

.headerUpdate {
    background-color: #007bff;
    color: #fff;
}

.required {
    color: #F27474;
}

/*--------------------------------------------------------------
# Botones de opciones
--------------------------------------------------------------*/
.btns-options {
    text-align: center !important;
}

.btns-options button {
    margin: 0px 3px 0px 0px;
}

.btns-options button i {
    margin-right: 0px !important;
}

/*--------------------------------------------------------------
# Menu vertical (arbol)
--------------------------------------------------------------*/
.vertical-menu {
  min-width: 200px;
  max-width: 400px;
}

.vertical-menu a {
  background-color: #fff;
  color: black;
  display: block;
  padding: 12px;
  text-decoration: none;
}

.vertical-menu a:hover {
  background-color: #eee;
}

.vertical-menu a.active {
  background-color: #4CAF50;
  color: white;
}